#jh-wrap {
    position: absolute;
    display: none;
    background: rgb(245, 245, 245);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-sizing: content-box;
    cursor: pointer;
    height: 19px;
    width: 19px;
    z-index: 2147483647;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 3px;
}
.jh-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/19.png");
    background-size: 19px;
    height: 19px;
    width: 19px;
}
.jh-bubble {
    font-size: small;
    max-width: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
    background-color: rgb(255, 255, 255);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: absolute;
    z-index: 1201;
    border: 1px solid;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(168, 168, 168);
    padding: 10px;
}